resources/Service.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions
    targetNamespace="http://ruv-schema.de/Mietkaution/2014/1/_impl/PSG"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:hdr="http://rws.ruvwebservice.de/protocol"
    xmlns:opPruefeBonitaet="http://ruv-schema.de/Mietkaution/2014/1/pruefeBonitaet"
    xmlns:opStelleAntrag="http://ruv-schema.de/Mietkaution/2014/1/stelleAntrag"
    xmlns:service="http://ruv-schema.de/Mietkaution/2014/1/_impl/PSG"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import
          namespace="http://ruv-schema.de/Mietkaution/2014/1/pruefeBonitaet"
          schemaLocation="../../pruefeBonitaet/Operation.xsd"/>
      <xsd:import
          namespace="http://ruv-schema.de/Mietkaution/2014/1/stelleAntrag"
          schemaLocation="../../stelleAntrag/Operation.xsd"/>
      <xsd:import
          namespace="http://rws.ruvwebservice.de/protocol"
          schemaLocation="../../../../../_header/rwsheader.xsd"/>
    </xsd:schema>
  </types>
  <message
      name="hdrAccountingMsg">
    <part
        name="hdrAccounting"
        element="hdr:Accounting"/>
  </message>
  <message
      name="hdrCompressionMsg">
    <part
        name="hdrCompression"
        element="hdr:Compression"/>
  </message>
  <message
      name="hdrIdentityMsg">
    <part
        name="hdrIdentity"
        element="hdr:Identity"/>
  </message>
  <message
      name="hdrProtocolMsg">
    <part
        name="hdrProtocol"
        element="hdr:Protocol"/>
  </message>
  <message
      name="hdrServiceMsg">
    <part
        name="hdrService"
        element="hdr:Service"/>
  </message>
  <message
      name="hdrStatisticMsg">
    <part
        name="hdrStatistic"
        element="hdr:Statistic"/>
  </message>
  <message
      name="pruefeBonitaetRequestMsg">
    <part
        name="inDoc"
        element="opPruefeBonitaet:pruefeBonitaet"/>
  </message>
  <message
      name="pruefeBonitaetResponseMsg">
    <part
        name="outDoc"
        element="opPruefeBonitaet:pruefeBonitaetAntwort"/>
  </message>
  <message
      name="stelleAntragRequestMsg">
    <part
        name="inDoc"
        element="opStelleAntrag:stelleAntrag"/>
  </message>
  <message
      name="stelleAntragResponseMsg">
    <part
        name="outDoc"
        element="opStelleAntrag:stelleAntragAntwort"/>
  </message>
  <portType
      name="MietkautionPortType">
    <operation
        name="pruefeBonitaetOperation">
      <input
          name="pruefeBonitaetRequest"
          message="service:pruefeBonitaetRequestMsg"/>
      <output
          name="pruefeBonitaetResponse"
          message="service:pruefeBonitaetResponseMsg"/>
    </operation>
    <operation
        name="stelleAntragOperation">
      <input
          name="stelleAntragRequest"
          message="service:stelleAntragRequestMsg"/>
      <output
          name="stelleAntragResponse"
          message="service:stelleAntragResponseMsg"/>
    </operation>
  </portType>
  <binding
      name="MietkautionSoapBinding"
      type="service:MietkautionPortType">
    <soap:binding
        transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation
        name="pruefeBonitaetOperation">
      <soap:operation
          soapAction="http://ruv-schema.de/Mietkaution/2014/1/pruefeBonitaet"
          style="document"/>
      <input
          name="pruefeBonitaetRequest">
        <soap:header
            message="service:hdrProtocolMsg"
            part="hdrProtocol"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrIdentityMsg"
            part="hdrIdentity"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrServiceMsg"
            part="hdrService"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrStatisticMsg"
            part="hdrStatistic"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrCompressionMsg"
            part="hdrCompression"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrAccountingMsg"
            part="hdrAccounting"
            use="literal">
        </soap:header>
        <soap:body
            use="literal"/>
      </input>
      <output
          name="pruefeBonitaetResponse">
        <soap:header
            message="service:hdrProtocolMsg"
            part="hdrProtocol"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrIdentityMsg"
            part="hdrIdentity"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrStatisticMsg"
            part="hdrStatistic"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrCompressionMsg"
            part="hdrCompression"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrAccountingMsg"
            part="hdrAccounting"
            use="literal">
        </soap:header>
        <soap:body
            use="literal"/>
      </output>
    </operation>
    <operation
        name="stelleAntragOperation">
      <soap:operation
          soapAction="http://ruv-schema.de/Mietkaution/2014/1/stelleAntrag"
          style="document"/>
      <input
          name="stelleAntragRequest">
        <soap:header
            message="service:hdrProtocolMsg"
            part="hdrProtocol"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrIdentityMsg"
            part="hdrIdentity"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrServiceMsg"
            part="hdrService"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrStatisticMsg"
            part="hdrStatistic"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrCompressionMsg"
            part="hdrCompression"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrAccountingMsg"
            part="hdrAccounting"
            use="literal">
        </soap:header>
        <soap:body
            use="literal"/>
      </input>
      <output
          name="stelleAntragResponse">
        <soap:header
            message="service:hdrProtocolMsg"
            part="hdrProtocol"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrIdentityMsg"
            part="hdrIdentity"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrStatisticMsg"
            part="hdrStatistic"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrCompressionMsg"
            part="hdrCompression"
            use="literal">
        </soap:header>
        <soap:header
            message="service:hdrAccountingMsg"
            part="hdrAccounting"
            use="literal">
        </soap:header>
        <soap:body
            use="literal"/>
      </output>
    </operation>
  </binding>
  <service
      name="MietkautionService">
    <port
        name="MietkautionPort"
        binding="service:MietkautionSoapBinding">
      <soap:address
          location="https://ws.kredit-privat-webservice.de/bonipruef"/>
    </port>
  </service>
</definitions>
